<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<head>
  <meta charset="UTF-8">
  <title>Подробнее</title>
  <style>
        body {
            background-color: #eeeeee;
        }
        .details-page{
        margin-top: 0.97rem !important;
        margin:auto;
        }
        a.btn.btn-default {
         margin-top: 5px;
        }

  </style>
</head>
<body>
<div class="details-page col-md-8">
  <div class="card text-center">
        <div class="card-header">Подробнее
        </div>
        <div class="card-body">
          <h5 class="card-title"><span th:text="${note.title}">
          </span></h5>
          <p class="card-text"><span th:text="${note.text}"></span></p>
        </div>

  </div>
  <div class="form-group">
    <a class="btn btn-default" th:href="@{/news}" type="button">На главную</a>
  </div>

</div>
</body>
</html>